@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --backgC: #CDC3CD;
    --mainC: #F00050;
    --segC: #00CFF0;
    --terC: #9400E3;
    --quaC: #F0CF00;
    --boxC: #F0E6EB; 
}

*, a, ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    background: var(--mainC) url('../../images/pattern_backg.png');
    font: 400 1rem 'Lilita One', Arial, sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--mainC) top/300px url('../../images/pattern_main.png');
    padding: 3vh 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

header {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1230px;
}

.logo {
    width: 15%;
    min-width: 140px;
    margin-left: 2%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 80%;
    max-width: 1230px;
    background: var(--backgC);
    padding: 0 2%;
}

#mainFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100vw;
    background: var(--terC) left bottom/450px url("../../images/mainframe_1.png") no-repeat;
    padding: 2.5% 0;
    text-align: center;
}

#mainFrame img {
    width: 10%;
    min-width: 130px;
    padding: 9%;
}

#mainFrame div {
    width: 36%;
    min-width: 440px;
}

#mainFrame h1 {
    font-size: 6rem;
    font-weight: 900;
}

#mainFrame h2 {
    font-size: 2.3rem;
    font-weight: 800;
}

.formaTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-block: 30px;
}

h3 {
    background: var(--segC) top/250px url("../../images/pattern_forth.png");
    padding: 2%;
    border-radius: 15px;
    font-size: 3.4rem;
}

.mainBarra {
    min-width: 8px;
    height: 100%;
    background: #000000;
    margin-right: 16px;
    border-radius: 100vw;
}

#formaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: var(--mainC) top/250px url('../../images/pattern_mainforma.png');
    padding: 0.8%;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.formaBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 23%;
    min-width: 280px;
    background: var(--boxC);
    margin: 1% 0.8%;
    border-radius: 15px;
}

.formaBox p {
    margin-block: 10%;
    font: 1000 1.3rem 'Courier New', Courier, monospace;
}

.formaImage {
    height: 300px;
    width: 80%;
    background: var(--quaC) top/80% url('../../images/pattern_third.png');
    margin-top: 10%;
    object-fit: cover;
}

.formaBarra {
    height: 6px;
    width: 70%;
    background: var(--terC);
    margin-top: 5%;
    border-radius: 100vw;
}

#addForma {
    width: fit-content;
    min-width: none;
    background: var(--terC);
    padding: 0 2%;
    margin: 30px 0 10%;
    color: var(--boxC);
}

footer nav {
    flex-flow: column nowrap;
    gap: 10px;
    text-align: center;
}

nav li:not(.redes li) {
    padding: 10px;
    margin-inline: 1vw;
    border-radius: 100vw;
}

.barraFoot {
    height: 2px;
    width: 90%;
    max-width: 400px;
    background: #000000;
    margin-bottom: 1%;
}

.logoFoot, .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFoot {
    flex-flow: column;
    gap: 20px;
}

.redes img {
    height: 25px;
    padding: 10px;
    border-radius: 100vw;
}

footer .logo {
    width: 35%;
}

/* :hover geral */

nav li:not(.redes li):hover, .redes img:hover {
    cursor: pointer;
    transition: 0.3s;
    background: var(--quaC);
}

.formaBox:not(#addForma):hover {
    transform: scale(1.1);
    transition: 0.4s;
    background: var(--segC);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.maisInforma:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.4s;
    background-color: var(--mainC);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1150px) {
    .formaBox {
        margin-block: 10px;
    }
}

@media (max-width: 735px) {
    #formaContainer {
        width: min-content;
        padding: 0 20px;
    }

    header {
        font-size: 4.5vmin
    }

    #mainFrame div {
        min-width: 300px
    }

    #mainFrame div h1 {
        font-size: 13vmin;
    }

    h3 {
        font-size: 8vmin;
    }
}

@keyframes animaAbre {
  from {scale: 0.5;}
  to {scale: 1;}
}