@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --backgC: #CDC3CD;
    --mainC: #F00050;
    --segC: #00CFF0;
    --terC: #9400E3;
    --quaC: #F0CF00;
    --boxC: #F0E6EB; 
}

* {
    margin: 0;
    padding: 0;
}

a, ul {
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    background: var(--mainC) url('../../images/pattern_backg.png');
    font: 400 100% 'Lilita One', Arial, sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--mainC) top/300px url('../../images/pattern_main.png');
    padding-block: 3vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

header {
    font-size: 150%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1230px;
}

.logo {
    width: 15%;
    min-width: 140px;
    margin-left: 2%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    width: 80%;
    max-width: 1230px;
    background: var(--backgC);
    padding-inline: 2%;
}

#mainFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100vw;
    background: var(--terC) left bottom/450px url("../../images/mainframe_1.png") no-repeat;
    padding-block: 2.5%;
    text-align: center;
}

#mainFrame img {
    width: 10%;
    min-width: 130px;
    padding: 9%;
}

#mainFrame div {
    width: 36%;
    min-width: 440px;
}

#mainFrame h1 {
    font-size: 600%;
    font-weight: 900;
}

#mainFrame h2 {
    font-size: 230%;
    font-weight: 800;
}

.formaTitle {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    margin-block: 30px;
}

h3 {
    background: var(--segC) top/250px url("../../images/pattern_forth.png");
    padding: 2%;
    border-radius: 15px;
    font-size: 340%;
}

.mainBarra {
    min-width: 8px;
    height: 100%;
    background: #000000;
    margin-right: 16px;
    border-radius: 100vw;
}

#formaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: var(--mainC) top/250px url('../../images/pattern_mainforma.png');
    padding: 0.8%;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.formaBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 23%;
    min-width: 280px;
    background: var(--boxC);
    margin: 1% 0.8%;
    border-radius: 15px;
}

.formaBox p {
    margin-block: 10%;
    font: 1000 130% 'Courier New', Courier, monospace;
}

.formaImage {
    height: 300px;
    width: 80%;
    background: var(--quaC) top/80% url('../../images/pattern_third.png');
    margin-top: 10%;
    object-fit: cover;
}

.formaBarra {
    height: 6px;
    width: 70%;
    background: var(--terC);
    margin-top: 5%;
    border-radius: 100vw;
}

#addForma {
    width: fit-content;
    min-width: none;
    background: var(--terC);
    padding-inline: 2%;
    margin: 30px 0 10%;
    color: var(--boxC);
}

/*  */

#backForma {
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

article {
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 30%;
    min-width: 360px;
    background: var(--terC);
    padding: 1% 2%;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    animation-name: animaAbre;
    animation-duration: 0.4s
}

#closeForma {
    width: 15%;
    border-radius: 100vw;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -5%;
    left: -5%;
    cursor: pointer;
}

article h1 {
    width: 86%;
    margin-block: 5%;
    font-size: 30px;
    font-weight: 900;
}

article h2 {
    font-weight: 900;
    font-size: 25px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 80%;
}

form div:not(.barra) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    padding-block: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
}

form div p {
    padding-inline: 5%;
    font: 1000 100% 'Courier New', Courier, monospace;
    text-align: center;
}

.barra {
    height: 2px;
    width: 90%;
    background: var(--backgC);
    margin-top: 3%;
    border-radius: 100vw;
}

.mostraConta {
    margin-top: 5%;
}

.mostraConta, .mostraResult {
    background: var(--segC) top/30% url('../../images/pattern_second.png');
}

.maisInforma {
    background: var(--quaC) top/30% url('../../images/pattern_second.png');
    z-index: 4;
}

input {
    width: 100%;
    background: var(--backgC);
    padding: 4%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font: 20px Arial, Helvetica, sans-serif;
}

.textoForma {
    display: none;
    width: 80%;
    height: 80%;
    background: var(--quaC);
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    position: absolute;
    bottom: -2%;
    animation-name: animaAbre;
    animation-duration: 0.4s;
}

.textoForma div {
    height: 85%;
    padding-right: 5%;
    text-align: justify;
    font: 1000 100% 'Courier New', Courier, monospace;
    overflow-y: scroll;
}

.comTexto {
    display: flex;
}

/*  */

footer nav {
    flex-flow: column nowrap;
    gap: 10px;
    text-align: center;
}

nav li:not(.redes li) {
    padding: 10px;
    margin-inline: 10px;
    border-radius: 100vw;
}

.barraFoot {
    height: 2px;
    width: 400px;
    background: #000000;
    margin-bottom: 1%;
}

.logoFoot, .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFoot {
    flex-flow: column;
    gap: 20px;
}

.redes img {
    height: 25px;
    padding: 10px;
    border-radius: 100vw;
}

footer .logo {
    width: 35%;
}

/*  */

nav li:not(.redes li):hover, .redes img:hover {
    cursor: pointer;
    transition: 0.3s;
    background: var(--quaC);
}

.formaBox:not(#addForma):hover {
    transform: scale(1.1);
    transition: 0.4s;
    background: var(--segC);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.maisInforma:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.4s;
    background-color: var(--mainC);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1150px) {
    .formaBox {
        margin-block: 10px;
    }
}

@media (max-width: 735px) {
    #formaContainer {
        width: min-content;
        padding-inline: 20px;
    }

    header {
        font-size: 110%;
    }
}

@keyframes animaAbre {
  from {scale: 0.5;}
  to {scale: 1;}
}